{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Kamuru</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <h1>About Kamuru 👤</h1>
    <p>I am a graphic designer, data scientist and a developer passionate about creating innovative solutions.</p>
    <p>With a background in both design and technology, I strive to blend creativity with functionality in all my projects.</p>
    <p>Whether it's crafting visually stunning graphics, analyzing complex data sets, or developing user-friendly applications, I am dedicated to delivering high-quality work that exceeds expectations.</p>   
    <p>Feel free to explore my work and connect with me!</p>

</body>
</html>